@charset "UTF-8";
.navbar {
  margin-bottom: 0 !important;
}

.page-header {
  margin: 0;
  border-bottom: solid 1px #dddddd;
  padding: 1em;
}
.page-header h1, .page-header h2, .page-header h3, .page-header h4, .page-header h5, .page-header h6 {
  margin: 0.25em;
}
.page-header p {
  margin: 0.25em 0;
}

/*
* A├▒ade cursor a elementos bootstrap
*/
.nav,
.pagination,
.carousel,
.panel-title a {
  cursor: pointer;
}
