<ng-include src="'partials/navbar.html'"></ng-include>
<ng-include src="'partials/breadcrumb.html'"></ng-include>
<div class="alert alert-danger" ng-if="error">{{error}}</div>
<div ng-repeat="element in resources" class="resource {{element.class}}">
    <div class="resource-header" ng-mouseenter="changeIcon(element,element.iconHover)" ng-mouseleave="changeIcon(element, element.iconNormal)">
        <span class="{{element.icon}}"></span>
    </div>
    <div class="resource-content">
        {{element.name}}
    </div>
</div>