<div class="modal fade" tabindex="-1" role="dialog" id='modalFileInfo'>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">{{modal.title}}</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-4"><strong>Tamaño</strong></div>
                    <div class="col-md-4">{{modal.element.size}}</div>

                </div>
                <div class="row">
                    <div class="col-md-4"><strong>Última modificación</strong></div>
                    <div class="col-md-4">{{modal.element.lastUpdate}}</div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger pull-left" ng-click='deleteFile(modal.element.name)'><span class="glyphicon glyphicon-remove"></span> Elimiar archivo</button>
                <button type="button" class="btn btn-success" ng-click="downloadFile(modal.element.download)"><span class="glyphicon glyphicon-download-alt"></span> Descargar</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Cancelar</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<form ng-submit="createNewFolder()">
    <div class="modal fade" role="dialog" id="modalNewFolder">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Nueva carpeta</h4>
                </div>
                <div class="modal-body">
                    <label>Nombre de la carpeta</label>
                    <input type='text' name='name' id='newFolderName' class='form-control' autofocus="true" autocomplete="off"/>
                    <br/>
                    <div ng-show="errorCreatingFolder" class="alert alert-danger">
                        {{errorCreatingFolder}}
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success"><span class="glyphicon glyphicon-plus"></span> Crear</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Cancelar</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
</form>