.resource {
    display: inline-block;
    cursor: pointer;
    min-width: 125px;
    vertical-align: top;

    box-sizing: border-box;
    &:hover {
        background-color: #eee;
        border: solid 1px #e0e0e0;
    }
    border: solid 1px transparent;
    border-radius: 4px;
    margin: 0.25em;
    .resource-header {
        font-size: 300%;
        color: #E7D995;
        text-shadow: 2px 2px 3px #aaa;
        padding: 0 !important;
        text-align: center;
    }
    .resource-content{
        font-size: 125%;
        line-height: 1.5em;
        text-align: center;
        padding: 0 0.5em;
        min-width: 15ch;
        max-width: 32ch;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
    &.resource-file {
        .resource-header {
            color: black !important;            
        }
    }
}